/* Google font: Monteserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
	display: grid;
	grid-template-areas:
		"nav"
		"main"
	;
	grid-template-rows: 4em auto;
	justify-content: center;
	
	margin: 0;
	padding: 0;
	
	min-height: 100vh;
	
	color: #39424e;
	background: #f4faff;
	background-image: url(background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2.5rem;
	font-family: "Montserrat", Sans-Serif;
	
}

a {
	color: inherit;
	text-decoration: transparent underline;
	transition: text-decoration-color 200ms ease;
}
a:hover {
	text-decoration-color: unset;
}

/* nav list of items */
nav {
	position: fixed;
	
	width: 100%;
	
	align-items: center;
	display: flex;
	height: 4em;
	background: rgba(0, 0, 0, 0.87);
}

nav ul {
	/* margin: 150px auto 0;  */
	padding: 0; 
	display: table;
	text-align: center;
	display: table;
	list-style: none;
	width: 100%;
	justify-content: center;
}

nav ul li {
	margin: 0 1rem;
	padding: 15px 20px;
	display: table-cell; 
	position: relative; 
  /* padding: 15px 0; */
}

nav ul li a {
	color: #f4f4f4;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 2px;
	position: relative;
	text-decoration: none;
}

nav ul li a:after {	
	background: none repeat scroll 0 0 transparent;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: rgb(226, 223, 52);
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

nav ul li a:hover:after { 
	width: 100%; 
	left: 0;
}

nav .logo {
	max-height: 100%;
	padding: 0.3rem;
	box-sizing: border-box;
}

/* Font icon + - */
.text-s button {
	color: #f4f4f4;
	font-size: 1.1rem;
	background-color: transparent;
	letter-spacing: 0.15em;
	display: inline-block;
	position: relative;
	padding: 1px;
	margin: 2px;
	border: none;
	border-style: none;
}

.text-s button :hover {
	cursor: pointer;
	outline: none;
	background-color: #f4f4f4;
	color: black;
	transition: ease 0.4s;
}
.text-s :active {
	cursor: pointer;
	border: none;
	border-style: none;
	opacity: 0.6;
}

main {
	display: grid;
	grid-area: main;
	max-width: 70vw;
	margin-top: 3rem;
	row-gap: 2rem;
}

/* Main title */
#company-name {
	font-size: 3.2rem;
	font-weight: bolder;
}
#tagline {
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
}

.description {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: center;
}

.farmer, .wholesale {
	max-width: 25rem;
	padding: 2rem;
}

.farmer h1, .wholesale h1,
.farmer .content, .wholesale .content {
	margin: 0;
	padding: 0;
	padding-bottom: 1.4rem;
}

/* For phone number */
.enter-phone{
	top: 0rem;
}


/* Form */
.floating-label{ 
	font-size: 1em;
	position: relative;
	margin: 1em;
}

.enter-phone input{
	color: inherit;
	font-size: 1.25em;
	
	padding: 1rem;
	display: block;
	width: 100%;
	
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #757575;
}
.enter-phone input::placeholder{
	color: transparent;
}
.enter-phone input:focus{
	outline: none;
	border-bottom: 2px solid rgb(56, 48, 4); 
}
.enter-phone input:focus ~ label,
.enter-phone input:not(:placeholder-shown) ~ label{
	top: -0.6rem;
	font-size: 0.9rem;
	color: rgb(56, 48, 4);
}
.enter-phone input:focus ~ .bar:before,
.enter-phone input:focus ~ .bar:after{
	width: 50%;
}

.enter-phone label{
	color: #999; 
	position: absolute;
	pointer-events: none;
	left: 0.5em;
	top: 1em;
	transition: 0.2s ease all; 
}

.sub-btn button {
	max-width: 8rem;
	border: #39424e solid;
	border-width: 0.5px;
	position: relative;
	padding: 9px 20px;
	font-size: 20px;
	margin: 25px;
	background-color: #f4faff;
	letter-spacing: 0.05rem;
	opacity: 0.75;
}

.sub-btn button:hover {
	color: #f4f4f4;
	cursor: pointer;
	transition: all ease 0.3s;
	background-color: #363523;
	opacity: 0.5;
	font-weight: lighter;
	box-shadow: 0 0 5px rgb(216, 213, 16);
}

.enter-phone{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.hide{
	display: none;
}

#OtpWrapper input { 
	-webkit-text-security: square; 
}