/* Google font: Monteserrat*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

body {
	display: grid;
	grid-template-areas:
		"nav"
		"main"
	;
	grid-template-rows: 4em auto;
	justify-content: center;
	
	margin: 0;
	padding: 0;
	
	min-height: 100vh;
	
	color: #39424e;
	background: #f4faff;
	font-family: "Montserrat", Sans-Serif;
}

a {
	color: inherit;
	text-decoration: transparent underline;
	transition: text-decoration-color 200ms ease;
}
a:hover {
	text-decoration-color: unset;
}

/* nav list of items */
nav {
	position: fixed;
	
	width: 100%;
	
	align-items: center;
	display: flex;
	height: 4em;
	background: rgba(0, 0, 0, 0.87);
}

nav ul {
	/* margin: 150px auto 0;  */
	padding: 0; 
	display: table;
	text-align: center;
	display: table;
	list-style: none;
	width: 100%;
	justify-content: center;
}

nav ul li {
	margin: 0 1rem;
	padding: 15px 20px;
	display: table-cell; 
	position: relative; 
  /* padding: 15px 0; */
}

nav ul li a {
	color: #f4f4f4;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	display: inline-block;
	padding: 15px 2px;
	position: relative;
	text-decoration: none;
}

nav ul li a:after {	
	background: none repeat scroll 0 0 transparent;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: greenyellow;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

nav ul li a:hover:after { 
	width: 100%; 
	left: 0;
}

nav .logo {
	max-height: 100%;
	padding: 0.3rem;
	box-sizing: border-box;
}

/* Font icon + - */
.text-s button {
	color: #f4f4f4;
	font: 1rem;
	background-color: transparent;
	letter-spacing: 0.15em;
	display: inline-block;
	position: relative;
	padding: 1px;
	margin: 2px;
	border: none;
	border-style: none;
}

.text-s button :hover {
	cursor: pointer;
	outline: none;
	background-color: #f4f4f4;
	color: black;
}
.text-s :active {
	cursor: pointer;
	border: none;
	border-style: none;
	opacity: 0.6;
}


main {
	display: grid;
	grid-area: main;
	max-width: 70vw;
	margin-top: 5rem;
	
	row-gap: 2rem;
}

/* Main title */
#farmer {
	font-size: 3.2rem;
	font-weight: bolder;
}
#farmer-description {
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
}

/* .description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.farmer-register, .farmer-login {
	max-width: 25rem;
	padding: 1.5rem;
}

.farmer-register, .farmer-login{
	margin: 0;
	padding: 0;
	padding-bottom: 1.4rem;
}

.description button {
	max-width: 8rem;
	border: #39424e solid;
	border-width: 0.5px;
	position: relative;
	padding: 9px 20px;
	font-size: 20px;
	margin: 25px;
	background-color: #f4faff;
	letter-spacing: 0.05rem;
}

.description button:active {
	border-width: 0.5px;
}
  
.description button:hover {
	color: #f4faff;
	cursor: pointer;
	transition: all ease 0.3s;
	background-color: #62676e;
	font-weight: lighter;
	box-shadow: 0 0 5px rgb(119, 143, 82);
} */